/* Color Theme Swatches in Hex */
:root{
  --Aloniq-1: #324028;
  --Aloniq-2: #A69958; 
  --Aloniq-3: #D9AE79; 
  --Aloniq-4: #D9D1C7; 
  --Aloniq-4-dark:  #C9C1B7; 
  --Aloniq-5:  #734A32; 
}

*
		{
			font-family: Roboto, Tahoma, Verdana, Geneva, sans-serif;
			font-size:2vmin;
			text-align:left;
			color:black;
			
			background: white;
			margin:0;
			padding:0;
		}

	
    li { background:  #D9D1C7;}
    li:nth-child(odd) { background: #C9C1B7; }
   
    .onerow{
      display:inline-block;
  }
		.myButton
		{
			display: flex;
			justify-content: center; /* align horizontal */
			align-items: center; /* align vertical */
		
			background: midnightblue;
			position:relative;
			border: .1vmin solid #DDDDFF;
			width: 20vmin;
	
			height: 4vmin;
			font-size:2vmin;
	
			padding:.5vmin;
			margin: .5vmin;
			color: white;
		}
		
		.myButton:hover
		{
			cursor:pointer;
			background: rgba(130,130,227,0.4);
			
		}
		.myButton.active
		{
			color: black;
			background: rgba(140,140,237,0.4);
			
		}
		.AzimutDisplay
		{
			display: flex;
			justify-content: center; /* align horizontal */
			align-items: center; /* align vertical */
		
			background: #babad4;
			position:relative;
			border: .1vmin solid #DDDDFF;
			width: 20vmin;
	
			height: 4vmin;
			font-size:2vmin;
	
			padding:.5vmin;
			margin: .5vmin;
			color: black;
		}
		
	.column-menu
	{
		/*
		display: flex;
		flex-direction: column;
		
		float: left;
		*/
		width: 16vw;
		height: 100vh;
		background: midnightblue;
		
	}	
	
	.column-canvas 
	{
	flex: 1;	
	background: cyan;
	}	
	
.row {
    display: flex;
	flex-flow: row wrap;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    /*padding: 10px;
    height: 70px; 
	*//* Should be removed. Only for demonstration */
}
.pagina {
	display: flex;
	flex-direction: column;
	background:red;
	
}	
.pagina header {
background: var(--Aloniq-1);
color: lightgrey;
height: 5vh;
display: flex;
flex-direction: row;
flex-flow: column wrap;	
}
.pagina header_group
{
	background:rgb(98, 39, 39);
    color: grey;
    width: 50vw;
	display: flex;
	flex-direction: column;
flex-flow: column wrap;	
	
}
.pagina label_group
{
	background:rgb(58, 10, 162);
    color: grey;
    width: 50vw;	
	
}

.pagina .item {
 background: #393990;
 height: 85vh;
 
}
.pagina footer {
background: var(--Aloniq-1);
color: lightgrey;
height: 5vh;
align-content: flex-end;

}

.flexbox{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	
	flex-wrap: wrap;
	
	align-content: flex-start;

}
/*
.flexbox div {
	
	width: 20vmin;
	//background: midnightblue;
	height: 4vmin;
	font-size:2vmin;
	align-content: center;
	padding:.5vmin;
	margin: .5vmin;
	
}
*/
.flexbox input {
	width: 25vmin;
	
	height: 5vmin;
	
	 
}

.flexbox .one{
	height: 8vmin;
 background:  rgba(50, 50, 100, .1);
}
.flexbox .two
{
	width: 60vmin;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	height: 8vmin;
	align-self: center;
}


.flex-container 
	{
		display: flex; /* or inline-flex */
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: left;
		align-content: stretch;
	}
	.flex-item {
  background: midnightblue;
 
  padding-left: 1vmin;   /* LC width */
  padding-right: 0;  /* RC width */
 
  height: 5vmin;
  margin-top: 0px;
  
  line-height: 4vmin;
  color: white;
  font-weight: normal;
  font-size: 2 vmin;
  text-align: left;
  /*border-bottom: solid 1px white;*/
  }
  	.flex-item-header {
  background: midnightblue;
 
  padding: 1vmin;
  
  height: 30vmin;
  margin-top: 0px;
  
  line-height: 4vmin;
  color: lightgrey;
  font-weight: bold;
  font-size: 1.5vmin;
  text-align: center;
  border-bottom: solid .1vmin white;
  }
  .flex-item-footer {
  background: midnightblue;
  color: lightgrey;
  height: 30vh;
  
 /*
  idth: 20vw;
  display: flex;
  argin-top: 90vh;
  
  ine-height: 30vh;
  color: lightgrey;
  font-weight: normal;
  font-size: 1.7vmin;
  */
  
  text-align: center; 
   align-self: flex-end;
  }
#menu {
	width: 16vw; 
	margin: 0 auto;}
#menulist li {
  list-style-type: none;
}
#menulist li a:focus {
  background-color: #EAB126
}

#menulist li:not(:target) div{
  display: none;
}

#menulist li div{
    position: absolute;
    left: 0px;
}

/*
ul.flex-container li {
background:#000;
list-style: none;

float:left;
clear: left;
padding:1 1;
}
*/

#menulist ul li a {
list-style: none;
height: 6vmin;

background: midnightblue;
color: #fff;
font-size: 1.7vmin;
text-transform: uppercase;
text-align:center;
text-decoration: none;
display: flex;

-webkit-transition: .2s all ease;
-moz-transition: .2s all ease;
-o-transition: .2s all ease;
transition: .2s all ease;


}
#menulist li:nth-child(1) a {
border-color: #fff;
}
#menulist li:nth-child(2) a {
border-color: #FF6;
}
#menulist li:nth-child(3) a {
border-color: #F60;
}
#menulist li:nth-child(4) a {
border-color: #00F;
}
#menulist li:nth-child(5) a {
border-color: #0C6;
}
#menulist li:nth-child(6) a {
border-color: #63C;
}
/*
#menulist li:nth-child(7) a {
border-color: #F00;
}
*/
#menulist li:nth-child(1) a:hover, li:nth-child(1):target a {
color: #000;
border-bottom: 6vmin solid #fff;
font-size: 2vmin;
height: 1px;}
#menulist li:nth-child(2) a:hover, li:nth-child(2):target a{
color: #000;
border-bottom: 6vmin solid #ff6;
height: 1px;
font-size: 2vmin; }
#menulist li:nth-child(3) a:hover, li:nth-child(3):target a{
border-bottom: 6vmin solid #f60;
height: 1px; 
font-size: 2vmin;}
#menulist li:nth-child(4) a:hover, li:nth-child(4):target a{
border-bottom: 6vmin solid #00f;
height: 1px; 
font-size: 2vmin;}
#menulist li:nth-child(5) a:hover, li:nth-child(5):target a{
border-bottom: 6vmin solid #0c6;
height: 1px; 
font-size: 2vmin;}
#menulist li:nth-child(6) a:hover, li:nth-child(6):target a{
border-bottom: 6vmin solid #63c;
height: 1px; 
font-size: 2vmin;}
/*
#menulist li:nth-child(7) a:hover, li:nth-child(7):target a{
border-bottom: 6vmin solid #f00;
height: 1px; }
*/

iframe
   {
	   display: block;
		border:0;
		flex:1;
        height: 100vh;
        width:100%;		
		background: midnightblue;
   }
   
  .flex_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
 height:85vh;
 background: blue;
} 
 .current_items {
 
  color:black;
  transition: .4s;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background:  rgba(180, 190, 255, 1);
  padding: 1vmin;
  
  justify-content: flex-start;
  
   }
  .current_items__row {
    border: .1vmin solid rgba(80, 80, 130, .8);
    padding: 1vh 1vw;
    width: 20vw;
    text-align: left;
    margin: 1vmin 1vmin;
	color: lightgrey;
	background: #292980;
  }
  .wrapper_input {
 	color:green;
	width:10 vw;
	background: midnightblue;
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
  }
  
  /*
  input {
  color: yellow;
  background: midnightblue;
    display: none;
    &:checked {
      & + label {
        &:after {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  */
  label {
    font-size:2 vmin;
    letter-spacing: 3px;
    /*color: rgba(0, 0, 0, .8);*/
	color: white;
    margin: 0;
    padding-left: 35px;
    display: inline-block;
    position: relative;
	background: midnightblue;
    &:before {
      width: 20px;
      height: 20px;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      background: #fff;
      margin-top: -10px;
    }
    &:after {
      background: #f33232;
      left: 0;
      top: 50%;
      transition: .3s;
      transform: scale(3.4);
      opacity: 0;
      margin-top: -7px;
      width: 14px;
      height: 14px;
      content: '';
      position: absolute;
      left: 3px;
    }
  }

.sliderBox {
    border: .1vmin solid rgba(80, 80, 130, .8);
    /*padding: 1vh 1vw; */
    width: 30vmin;
    text-align: left;
    margin: .5vmin .5vmin;
	color: lightgrey;
	background: #292980;
  }
.slidecontainer {
    width: 100%; /* Width of the outside container */
	color: white;
	background: #4949A0;
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2vim; /* Specified height */
    background: #4949A0;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.3vw; /* Set a specific slider handle width */
    height: 1.3vw; /* Slider handle height */
    background: #6C60CF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 1.3vw; /* Set a specific slider handle width */
    height: 1.3vw; /* Slider handle height */
    background: #6C70CF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.sldBar
{
 display : flex;
 
 background: #6C70CF;
 background: #292980;
}

.sldValue
{
 font-size:2.5vmin;
 justify-content: center; /* align horizontal */
 align-items: center; /* align vertical */
 color: white;
 background: #7C80DF;
 width: 5vmin;
 height: 4vmin;
 line-height: 4vmin;
 text-align: center;
 border: .1vmin solid #9Ca0FF;
 padding:.5vmin;
 margin: .5vmin;
 
} 
.AuthorInfo
{
	margin: 1vmin;
	background: #292980;
color:white;	
}
.imgAuthorContainer {
	
    width: 5vw;
    hight: 2.5vh;
	text-align: left;
    margin: .1vmin;
	background: #292980;
}

/* resize images */
.imgAuthorContainer img {
    width: 100%;
    height: auto;
	background: #292980;
}

.Activation {
	display: flex;
	margin: 1vmin;
	background: #292980;
}
.SessionSelect {
	display: flex;
	margin: 0;
	background: #292980;
}
.EditDocument
{
    display: flex;
	margin: 1vmin;
	background: #292980;
    color: white;	
}      



