

.date_group {
    position: relative;
    margin: 30px 20px 50px;
}

.date_group input {
    color: #000000;
    font-size: 2em;
    padding: 10px 10px 5px 5px;
    display: block;
    width: 70vw;
    border: none;
    border-bottom: 1px solid #607D8B;
    text-align:center;
    align-items: center;
}
.date_group .input:focus {
    outline: none;
}

.date_group label.input-label {
    color: #264c07;
    position: absolute;
}

.date_group .input:focus ~ label.input-label {
    color: #0288D1;
}

.date_group .input[readonly] ~ label.input-label {
    top: -15px;
    font-size: 0.9em;
}

.date_group input:focus ~ .bar:before,
.date_group input:focus ~ .bar:after {
    width: 50%;
}
